{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container header-container"></div>
<div class="row">
  <div class="col"></div>
</div>
{% endblock %}

{% block content %}

<div id="home-banner-container" class="row d-flex justify-content-center py-2 my-2">
  <h3 class="content-font text-center text-muted">A home for puzzle enthusiasts</h3>
  <div class="col-2">
    <div id="banner-1" class="border border-4 border-dark banner-container">
      <img class="home-banner" src="/static/images/puzzle_banner_left.webp" alt="">
    </div>
  </div>
  <div class="col-2">
    <div id="banner-2" class="border border-4 border-dark banner-container">
      <img class="home-banner" src="/static/images/puzzle_banner_centre.webp" alt="">
    </div>
  </div>
  <div class="col-2">
    <div id="banner-3" class="border  border-4 border-dark banner-container">
      <img class="home-banner" src="/static/images/puzzle_banner_right.webp" alt="">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12 d-flex justify-content-center my-2 py-1">
    <a href="{% url 'products' %}" class="btn btn-lg btn-dark rounded-2">
      <span class="text-uppercase content-font"><strong>Find your next puzzle</strong></span>
    </a>
  </div>
</div>

{% endblock %}