{% extends "base.html" %}
{% block content %}
{% load static %}

<div class="home-banner">
    <div class="row">
        <div class="col-sm">
            <!-- <img src="{% static 'images/puzzle_banner_left_2.jpg' %}" alt=""> -->
        </div>
        <div class="col-sm">
            <!-- <img src="{% static 'images/puzzle_banner_left.jpg' %}" alt=""> -->
        </div>
        <div class="col-sm">
            <!-- <img src="{% static 'images/puzzle_banner_centre.jpg' %}" alt=""> -->
        </div>
        <div class="col-sm">
            <!-- <img src="{% static 'images/puzzle_banner_right.jpg' %}" alt=""> -->
        </div>
        <div class="col-sm">
            <!-- <img src="{% static 'images/puzzle_banner_right_2.jpg' %}" alt=""> -->
        </div>
    </div>
</div>

{% endblock %}