{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="row">
        <div class="col">
        <div class=" table table-responsive-md rounded">
          <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">User</th>
              <th scope="col"></th>
              <th scope="col">Date</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row"></th>
              <td>USERNAME</td>
              <td>USERNAME</td>
              <td>USERNAME</td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td>PUZZLE INFO</td>
              <td>PUZZLE INFO</td>
              <td>PUZZLE INFO</td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td>DATE</td>
              <td>DATE</td>
              <td>DATE</td>
            </tr>
          </tbody>
      </table>
        </div>
      </div>
      
      <div class="col-12 col-md-6 col-lg-4">
          <div class="puzzle-details-container mb-5 mt-md-5">
              
            </div>

        
{% endblock %}
