{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6">
            <hr>
            <h2 class="content-font mb-4">Puzzle Exchange</h2>
            <h5 class="text-muted content-font">Send a message to user</h5>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-6">
            <form method="POST" action="{% url 'submit_message' puzzle.id %}" class="form mb-2 content-font"
                enctype="multipart/form-data" aria-label="Form to submit a user message">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="text-right">
                    <a class="btn btn-dark rounded content-font mt-2" href="{% url 'puzzles' %}">Cancel</a>
                    <button class="btn btn-dark rounded content-font mt-2" type="submit">Submit Message</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}