html {
  height: 100%;
}

body {
  height: calc(100vh - 164px);
  background-color: #FBFEF9;
}

.delivery-banner {
  background-color: #191923;
  font-family: 'Cutive Mono', monospace;
  font-weight: bold;
}


#logo-container {
height: 150px;
width: 150px;
margin: 5px;
}

#logo {
  width: 75%; 
  height: 75%; 
  object-fit: cover;
}


#logo-font {
  font-family: Peralta;
  color: #191923;
  float: right;
}

.content-font {
  font-family: 'Cutive-Mono', monospace;
}

.navbar-style {
  background-color: #191923;
  font-family: 'Cutive Mono', monospace;
  color: #FBFEF9;
  font-size: large;
}

/* home page */

.tagline {
  font-family: 'Cutive-Mono', monospace;
  color: #191923;
}

.banner-container {
  height: 420px;
  width: 260px;
  margin: 5px;
}

.home-banner {
  width: 100%; 
  height: 100%; 
  object-fit: cover;
}

/* all-products */

/* faq styling */

.answer-content {
  display: hidden;
}

/* footer styling */

.social-media li {
  list-style-type: none;
}

.further-information li {
  list-style-type: none;
}