html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #FBFEF9;
}

/* from Bulma */
.icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  height: 1.5rem;
  width: 1.5rem;
}

.delivery-banner {
  background-color: #191923;
  font-family: 'Cutive Mono', monospace;
  font-weight: bold;
}


#logo-container {
height: 150px;
width: 150px;
margin: 5px;
}

#logo {
  width: 75%; 
  height: 75%; 
  object-fit: cover;
}


#logo-font {
  font-family: Peralta;
  color: #191923;
  float: right;
}

.my-account {
  text-decoration: none;
  color: #191923;
}

.content-font {
  font-family: 'Cutive-Mono', monospace;
}

.navbar-style {
  background-color: #191923;
  font-family: 'Cutive Mono', monospace;
  color: #FBFEF9;
  font-size: large;
}

.nav-link:hover {
  color: #FBFEF9 !important;
}

/* toast notifications */

.message-container {
  position: fixed;
  top: 72px;
  right: 15px;
  z-index: 99999999999;
}

.custom-toast {
  overflow: visible;
}

.toast-capper {
  height: 2px;
}

.btn-style {
  background-color: #191923;
}

.bag-notification-container {
  height: 100px;
  overflow-x: hidden;
  overflow-y: scroll;
}

/* allauth */

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #191923;
    border: 1px solid #191923;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 5;

}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content p {
  margin-top: 1.5rem;
  color: #6c757d;
}

.allauth-form-inner-content input {
  border-color: #191923;
  border-radius: 5px;
}

.allauth-form-inner-content label:not([form='id_remember']) {
  display: none;
}

.allauth-form-inner-content input::placeholder {
  color: #aab7c4;
}

/* home page */

.tagline {
  font-family: 'Cutive-Mono', monospace;
  color: #191923;
}

.banner-container {
  height: 420px;
  width: 260px;
  margin: 5px;
}

.home-banner {
  width: 100%; 
  height: 100%; 
  object-fit: cover;
}

/* all-products */

/* bootstrap styles would not apply so custom was made */
.page_btn {
  height: 200px;
  width: auto;
  padding: 10px;
  background-color: #191923;
  color: #FBFEF9;
  border-radius: 5px;
  font-family: 'Cutive-Mono', monospace;
  font-size: medium;
  font-weight: 100;
  text-decoration: none;

}

/* product form */

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0;
  cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
  border-radius: 0;
  border-color: #dc3545;

}

.custom-checkbox .custom-control-input:checked .custom-control-label::before {
  background-color: #dc3545;
  border-color: #dc3545;
  border-radius: 0;
}



/* shopping bag */

.update_link {
  cursor: pointer;
}

.remove-link {
  cursor: pointer;
}

/* faq styling */

.answer-content {
  display: hidden;
}

/* about us  */

.about-us-container {

  height: 50%;
  width: 50%;
}

.about-us-image {
  width: 100%; 
  height: 100%; 
  object-fit: cover;
  border-radius: 5px;
}

/* puzzle exchange */

.puzzle-image-container {
  height: 200px;
  width: 250px;
}

.puzzle-img {
  width: 100%; 
  height: 100%; 
  object-fit: cover;
}

.puzzle-link {
  text-decoration: none;
  color: #191923;
}

.puzzle-link:hover {
  background-color: #191923;
  color: #FBFEF9;
  padding: 2px;
  border-radius: 5px;
}

/* User Notifications */

.message-notifications {
  text-decoration: none;
  color: #191923;
}

.message-notifications:hover {
  background-color: #191923;
  color: #FBFEF9;
  padding: 2px;
  border-radius: 5px;
}


/* footer styling */
.social-media li {
  list-style-type: none;
}

.social-media li a {
  color: #FBFEF9;
}

.fa-facebook:hover {
  text-shadow: 0 0 5px #FBFEF9;
}

.fa-youtube:hover {
  text-shadow: 0 0 5px #FBFEF9;
}

.fa-instagram:hover {
  text-shadow: 0 0 5px #FBFEF9;

}

.footer-style {
  background-color: #191923;
  color: #FBFEF9;
}

.further-information li {
  list-style-type: none;
  color: #FBFEF9;
}

.footer-link a {
  text-decoration: none;
  color: #FBFEF9;
}

/* https://www.30secondsofcode.org/css/s/hover-underline-animation/ */
.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #FBFEF9;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #FBFEF9;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}