{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="content-font mb-4 text-uppercase">Success!</h2>
                <hr>
                <p class="content-font">Your query has been sent to our team, a confirmation email will be sent shortly!</p>
            </div>
        </div>

        <div class="col-12 col-lg-7 text-right content-font mt-5">
            <p>While you're waiting for our team to get in touch why don't you check out
                our amazing range of products!
            </p>
            <a href="{% url 'products' %}" class="btn btn-dark rounded my-2">
                <span class="text-uppercase content-font">Start Shopping</span>
            </a>
        </div>
{% endblock %}
