{% load static %}
<footer class="my-2">
<div class="container-fluid border border-4 rounded footer-style">
  <div class="row">
    <div class="col-12 text-center py-2">
      <h4 class="content-font">Information</h4>
    </div>
    <div class="col-3 text-left social-media">
      <ul>
        <li class="my-1">
          <a href="https://facebook.com" target="_blank" rel="noopener"
              aria-label="Visit Perfect Fit Facebook page (will open in a new tab)">
              <i class="fa-brands fa-facebook fa-xl"></i></a>
      </li>
      <li class="my-1">
          <a href="https://youtube.com" target="_blank" rel="noopener"
              aria-label="Visit Perfect Fit YouTube page (will open in a new tab)">
              <i class="fa-brands fa-youtube fa-xl"></i></a>
      </li>
      <li class="my-1">
          <a href="https://instagram.com" target="_blank" rel="noopener"
              aria-label="Visit Perfect Fit Instagram page (will open in a new tab)">
              <i class="fa-brands fa-instagram fa-xl"></i></a>
      </li>
      </ul>
    </div>
    <div class="col further-information">
      <ul>
        <li class="my-2 footer-link content-font hover-underline-animation"><a href="{% url 'about_us' %}">About Us</a></li>
        <hr class="border-0">
        <li class="my-2 footer-link content-font hover-underline-animation"><a href="{% url 'faq' %}">FAQ</a></li>
        <hr class="border-0">
        <li class="my-2">Contact Us</li>
        <hr class="border-0">

      </ul>
    </div>
    <div class="col">
        <label for="inputNewsletter" class="col-form-label content-font"><i class="fa-regular fa-newspaper fa-lg"></i> Sign up for our newsletter!</label>
      <div class="col">
        <input type="" id="inputNewsletter" class="form-control">
      </div>
    </div>
  </div>
</div>

</footer>