{% load static %}
<footer>
<div class="container-fluid fixed-bottom border border-4 rounded">
  <div class="row">
    <div class="col-12 text-center my-2">
      <h4>Information</h4>
    </div>
    <div class="col-3 text-left social-media">
      <ul>
        <li class="my-1">
          <a href="https://facebook.com" target="_blank" rel="noopener"
              aria-label="Visit Perfect Fit Facebook page (will open in a new tab)">
              <i class="fa-brands fa-facebook fa-xl"></i></a>
      </li>
      <li class="my-1">
          <a href="https://youtube.com" target="_blank" rel="noopener"
              aria-label="Visit Perfect Fit YouTube page (will open in a new tab)">
              <i class="fa-brands fa-youtube fa-xl"></i></a>
      </li>
      <li class="my-1">
          <a href="https://instagram.com" target="_blank" rel="noopener"
              aria-label="Visit Perfect Fit Instagram page (will open in a new tab)">
              <i class="fa-brands fa-instagram fa-xl"></i></a>
      </li>
      </ul>
    </div>
    <div class="col further-information">
      <ul>
        <li class="my-1">About Us</li>
        <li class="my-1">FAQ</li>
        <li class="my-1">Contact Us</li>
      </ul>
    </div>
    <div class="col">
      <p>Sign up for our newsletter!</p>
    </div>
  </div>
</div>

</footer>