{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="content-font mb-4">My Profile</h2>
                <small class="content-font text-muted">Puzzle Exchange Notifications</small>
                <hr>
            </div>
        </div> 
        <div class="row">
            <div class="col-12 col-lg-6">
               
            </div>
            <div class="col-12 col-lg-6">
                <p class="text-muted content-font">Notifications</p>
                    <ul>
                        {% for user_message in user_messages %}
                        <li class="content-font">Message from: {{ user_message.sender }}</li>
                        <li class="content-font">Message content: {{ user_message.msg_content }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        </div>
{% endblock %}
