html {
  height: 100%;
}

body {
  height: calc(100vh - 164px);
}


#logo-container {
height: 150px;
width: 150px;
margin: 5px;
}

#logo {
  width: 75%; 
  height: 75%; 
  object-fit: cover;
}


#logo-font {
  font-family: Peralta;
  color: black;
  float: right;
}

/* all-products */

/* faq styling */

.answer-content {
  display: hidden;
}

/* footer styling */

.social-media li {
  list-style-type: none;
}

.further-information li {
  list-style-type: none;
}