{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="row">
  <div class="col-12 text-center my-2 py-1">
    <h3>About Us</h3>
  </div>
</div>

<div class="row">
  <div class="col-6 text-left mt-2 pt-1">
    <p>image here</p>
  </div>
  <div class="col-3 text-center">
    <span>Welcome to Perfect Fit, your ultimate destination for all things puzzles! 
      At Perfect Fit, we believe that every puzzle enthusiast deserves the perfect puzzle experience. 
      That's why we offer an extensive collection of high-quality puzzles and
       accessories to cater to puzzlers of all ages and skill levels.</span>
    <br>
    <hr>
    <span>
      Our curated selection features a diverse array of puzzles, from classic jigsaw puzzles to challenging 3D puzzles, 
      and everything in between. We pride ourselves on providing puzzles with stunning imagery, 
      intricate designs, and varying difficulty levels to ensure there's something for everyone.
    </span>
    <br>
    <hr>
    <span>
      But we don't stop at just puzzles. Our range of accessories includes custom frames, 
      sorting trays, puzzle mats, and storage solutions 
      designed to enhance your puzzling experience and keep your pieces organized and secure.
    </span>
    <br>
    <hr>
    <span>
      Founded by a team of puzzle enthusiasts, Perfect Fit is committed to delivering top-notch customer service and a seamless 
      shopping experience. We understand the joy of fitting that final piece into place, and we’re here to help you find 
      that perfect fit every time.
      Join our community of passionate puzzlers and explore our collection today. At Perfect Fit, we're dedicated to bringing you 
      hours of enjoyment, one piece at a time.
    </span>
  </div>
</div>
{% endblock %}