{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-12 text-center my-2 py-1">
    <h3>About Us</h3>
  </div>
</div>

<div class="row">
  <div class="about-us-container">
    <img class="about-us-image mx-6 my-5 p-1" src="/static/images/about_us_puzzle.webp" alt="Picture of a person putting puzzle together">
  </div>

  <div class="row">
  <div class="col-12 text-center">
    <span class="about-us-text">Welcome to Perfect Fit, your ultimate destination for all things puzzles!
      At Perfect Fit, we believe that every puzzle enthusiast deserves the perfect puzzle experience.
      That's why we offer an extensive collection of high-quality puzzles and
      accessories to cater to puzzlers of all ages and skill levels.</span>
    <hr class="border-0">
    <span class="about-us-text">
      Our curated selection features a diverse array of puzzles, from classic jigsaw puzzles to challenging 3D puzzles,
      and everything in between. We pride ourselves on providing puzzles with stunning imagery,
      intricate designs, and varying difficulty levels to ensure there's something for everyone.
    </span>
    <hr class="border-0">
  </div>
</div>
</div>
{% endblock %}